<!DOCTYPE html>
<html>
<head>
    <title>Search Video</title>
</head>
<body>
    <h1>Search in Subtitles</h1>
    <form method="GET">
        <input type="text" name="q" value="{{ query }}">
        <button type="submit">Search</button>
    </form>

    <ul>
        {% for result in results %}
            <li>
                <a href="{% url 'video_detail' result.video.id %}?timestamp={{ result.timestamp }}">{{ result.video.title }}</a> 
                - {{ result.timestamp }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
